.sidebar {
  width: 287px;
  border-right: 1px solid #ccc;
  padding: 10px;
}

.sidebar ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar ul li {
  list-style: none;
}
